@import 'variables.scss';

.btn{
  padding: 16px;
  background: teal;
  color: cornsilk;
  border: 0;
  border-radius: 4px;
}
.btn_delete{
  padding: 16px;
  background: palevioletred;
  color: cornsilk;
  border: 0;
  border-radius: 4px;
}
